body {
    background: lightgrey;
    font-family: sans-serif;
}

.card {
    background: lightcoral;
    padding: 8px;
    margin: 24px;
}

.content {
    background: teal;
    padding: 24px;
    margin: 24px;
    font-weight: bold;
}
h1 {
    font-weight: bold;
    font-size: 36px;
    background-color: green;
    text-align: center;
}

img {
    width: 400px;
}